---
import { SEO } from 'astro-seo';
import FormattedDate from "../components/FormattedDate.astro"
const { title, description = "A blog post by Nate Wong", pubDate, updatedDate, heroImage } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <SEO 
      title={title}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: title,
          type: 'article',
          image: heroImage || 'https://github.com/natewong1313.png',
          url: canonicalURL.href,
        },
        image: {
          url: heroImage || 'https://github.com/natewong1313.png',
          alt: title,
        },
        article: {
          publishedTime: pubDate?.toISOString(),
          modifiedTime: updatedDate?.toISOString(),
        }
      }}
      twitter={{
        creator: '@natewong69',
        card: 'summary_large_image'
      }}
      noindex={false}
      nofollow={false}
    />
  </head>
  <body class="bg-stone-200 font-plex px-6 md:px-0">
    <header class="w-full max-w-3xl mx-auto my-6">
      <p class="font-semibold">Nate Wong</p>
      <div class="bg-stone-100 flex space-x-4 mt-2">
        <div class="bg-red h-6 w-1"></div>
        <a href="/blog" class="hover:underline">Blog</a>/
        <a href="/" class="hover:underline">Me</a>/
      </div>
    </header>
    <main class="flex pb-10">
      <article class="w-full max-w-3xl mx-auto prose prose-stone">
        <h1 class="text-2xl mb-2 font-bold">{title}</h1>
        <p class="italic text-slate-500 mb-4"><FormattedDate date={pubDate}/></p>
        <slot />
      </article>
    </main>
  </body>
</html>
